[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tag = "python envs/tag.py"

[packages]
tensorflow = "==2.6.0"
keras = "==2.6.0"
keras-rl2 = "==1.0.5"
gym = "==0.20.0"
pygame = "==2.1.2"
matplotlib = "==3.6.1"

[dev-packages]
autopep8 = "==1.7.0"
flake8 = "==5.0.4"

[requires]
python_version = "3.8"
